
.stack-div{
   @apply flex w-fit mx-3 pt-1 px-2 lg:pt-3 lg:px-5 justify-center hover:bg-gray-200 outline rounded-md;
}

.scroll-hidden::-webkit-scrollbar{
    display: none;
}

.snow{
    height: 6px;
    width: 6px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px whitesmoke;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    animation: fall 40s linear infinite;

}


.stack-head {
    background: linear-gradient(to right, #34d399, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline #34d399 2px;
    text-underline-offset: 8px;
}

.journey-head {
    background: linear-gradient(to right, #0ea5e9, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline #0ea5e9 2px;
    text-underline-offset: 8px;
}

.group:hover .group-hover\:line {
    animation: grow 250ms linear forwards;
}

@keyframes fall {
    0%{
        transform: translateY(0vh);
    }

    100%{
        transform: translateY(600vh);
    }
}

@keyframes grow {
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}